name: Deploy
on:
  push:
    branches:
      - main
    paths-ignore:
      - ".github/workflows/**"
      - "!.github/workflows/deploy.yml"
      - "*.md"
      - "docs/**"
      - "renovate.json"
  repository_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
    env:
      NO_D1_WARNING: true
    steps:
      - name: Ensure CF_DEPLOY_DOMAIN and CF_ZONE_ID are defined
        run: |
          if [ -z "$CF_ZONE_ID" ]
          then
              echo "CF_ZONE_ID not defined"
              exit 1
          fi
          if [ -z "$CF_DEPLOY_DOMAIN" ]
          then
              echo "CF_DEPLOY_DOMAIN not defined"
              exit 1
          fi
        env:
          CF_ZONE_ID: ${{ vars.CF_ZONE_ID }}
          CF_DEPLOY_DOMAIN: ${{ vars.CF_DEPLOY_DOMAIN }}

      # this is needed to get the lowercase version of the repository_owner name
      # and being able to override the suffix when mutliple instances are hosted
      # by the same GitHub account.
      - name: Set name suffix
        run: |
          if [ -z "$OVERRIDE_NAME_SUFFIX" ]
          then
              echo "$GH_OWNER" | awk '{ print "NAME_SUFFIX=" tolower($0) }' >> "$GITHUB_ENV"
          else
              echo "$OVERRIDE_NAME_SUFFIX" | awk '{ print "NAME_SUFFIX=" tolower($0) }' >> "$GITHUB_ENV"
          fi
        env:
          GH_OWNER: ${{ github.repository_owner }}
          OVERRIDE_NAME_SUFFIX: ${{ vars.OVERRIDE_NAME_SUFFIX }}

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .node-version
          cache: pnpm

      - name: Install packages
        run: pnpm install

      - name: Configure Cloudflare Images variants
        run: |
          curl -XPOST "https://api.cloudflare.com/client/v4/accounts/${{ secrets.CF_ACCOUNT_ID }}/images/v1/variants" \
              -d '{
                  "id": "avatar",
                  "options": {
                      "metadata": "copyright",
                      "width": 400,
                      "height": 400
                  }
              }' \
              -H "Authorization: Bearer ${{ secrets.CF_API_TOKEN }}"

          curl -XPOST "https://api.cloudflare.com/client/v4/accounts/${{ secrets.CF_ACCOUNT_ID }}/images/v1/variants" \
              -d '{
                  "id": "header",
                  "options": {
                      "metadata": "copyright",
                      "width": 1500,
                      "height": 500
                  }
              }' \
              -H "Authorization: Bearer ${{ secrets.CF_API_TOKEN }}"

          curl -XPOST "https://api.cloudflare.com/client/v4/accounts/${{ secrets.CF_ACCOUNT_ID }}/images/v1/variants" \
              -d '{
                  "id": "usercontent",
                  "options": {
                      "metadata": "copyright"
                  }
              }' \
              -H "Authorization: Bearer ${{ secrets.CF_API_TOKEN }}"

      - name: Create D1 database
        continue-on-error: true
        run: npx wrangler d1 create wildebeest-${{ env.NAME_SUFFIX }}-v1
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}

      - name: retrieve D1 database
        run: npx wrangler d1 list --json | jq -r '.[] | select(.name == "wildebeest-${{ env.NAME_SUFFIX }}-v1") | .uuid' | awk '{print "d1_id="$1}' >> "$GITHUB_ENV"
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}

      - name: migrate D1 database
        run: |
          sed -i \
            -e 's/^database_name = ".*"/database_name = "wildebeest-${{ env.NAME_SUFFIX }}-v1"/' \
            -e 's/^database_id = ".*"/database_id = "${{ env.d1_id }}"/' \
            wrangler.toml
          npx wrangler d1 migrations apply --remote DATABASE
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}

      - name: retrieve Zero Trust organization
        run: |
          auth_domain=$(curl "https://api.cloudflare.com/client/v4/accounts/${{ secrets.CF_ACCOUNT_ID }}/access/organizations" \
              -H "Authorization: Bearer ${{ secrets.CF_API_TOKEN }}" | jq -r '.result.auth_domain')
          printf "auth_domain=%s\n" "$auth_domain" >> "$GITHUB_ENV"

      - name: retrieve Terraform state KV namespace
        run: |
          npx wrangler kv namespace list | jq -r '.[] | select( .title == "wildebeest-terraform-${{ env.NAME_SUFFIX }}-state" ) | .id' | awk '{print "tfstate_kv="$1}' >> "$GITHUB_ENV"
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}

      - name: Init
        run: terraform init
        working-directory: ./tf

      - name: download Terraform state
        if: ${{ env.tfstate_kv != '' }}
        run: |
          npx wrangler kv key get --remote --namespace-id="${{ env.tfstate_kv }}" terraform.tfstate > ./tf/terraform.tfstate
          chmod 777 ./tf/terraform.tfstate
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}

      - name: download VAPID keys
        if: ${{ env.tfstate_kv != '' }}
        continue-on-error: true
        run: npx wrangler kv key get --remote --namespace-id="${{ env.tfstate_kv }}" vapid_jwk | jq . > ./tf/vapid_jwk
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}

      - name: generate VAPID keys if needed
        run: |
          sudo chmod 777 ./tf/vapid_jwk || true

          if [ ! -s ./tf/vapid_jwk ]
          then
            node ./scripts/generate-vapid-keys.mjs > ./tf/vapid_jwk
            echo "VAPID keys generated"
          fi

      - name: Publish DO
        run: |
          pnpm install
          npx wrangler deploy --config packages/do/wrangler.toml
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}

      - name: Retrieve DO namespace
        run: |
          curl "https://api.cloudflare.com/client/v4/accounts/${{ secrets.CF_ACCOUNT_ID }}/workers/durable_objects/namespaces" \
              -H "Authorization: Bearer ${{ secrets.CF_API_TOKEN }}" \
              | jq -r '.result[] | select( .script == "wildebeest-do" ) | .id' | awk '{print "do_cache_id="$1}' >> "$GITHUB_ENV"

      - name: Configure
        run: terraform plan && terraform apply -auto-approve
        working-directory: ./tf
        env:
          TF_VAR_cloudflare_account_id: ${{ secrets.CF_ACCOUNT_ID }}
          TF_VAR_cloudflare_api_token: ${{ secrets.CF_API_TOKEN }}
          TF_VAR_cloudflare_zone_id: ${{ vars.CF_ZONE_ID }}
          TF_VAR_cloudflare_deploy_domain: ${{ vars.CF_DEPLOY_DOMAIN }}
          TF_VAR_name_suffix: ${{ env.NAME_SUFFIX }}
          TF_VAR_d1_id: ${{ env.d1_id }}
          TF_VAR_do_cache_id: ${{ env.do_cache_id }}
          TF_VAR_access_auth_domain: ${{ env.auth_domain }}
          TF_VAR_wd_instance_title: ${{ vars.INSTANCE_TITLE }}
          TF_VAR_wd_admin_email: ${{ vars.ADMIN_EMAIL }}
          TF_VAR_wd_instance_description: ${{ vars.INSTANCE_DESCR }}
          TF_VAR_sentry_dsn: ${{ secrets.SENTRY_DSN }}
          TF_VAR_sentry_access_client_id: ${{ secrets.SENTRY_ACCESS_CLIENT_ID }}
          TF_VAR_sentry_access_client_secret: ${{ secrets.SENTRY_ACCESS_CLIENT_SECRET }}

      - name: retrieve Terraform state KV namespace
        if: ${{ env.tfstate_kv == '' }}
        run: npx wrangler kv namespace list | jq -r '.[] | select( .title == "wildebeest-terraform-${{ env.NAME_SUFFIX }}-state" ) | .id' | awk '{print "tfstate_kv="$1}' >> "$GITHUB_ENV"
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}

      - name: store VAPID keys state
        run: npx wrangler kv key put --remote --namespace-id="${{ env.tfstate_kv }}" vapid_jwk --path=./tf/vapid_jwk
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}

      - name: store Terraform state
        run: npx wrangler kv key put --remote --namespace-id="${{ env.tfstate_kv }}" terraform.tfstate --path=./tf/terraform.tfstate
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}

      - name: Create Queue
        continue-on-error: true
        run: npx wrangler queues create wildebeest-${{ env.NAME_SUFFIX }}
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}

      - name: Publish consumer
        run: |
          echo "*** pre commands ***"
          {
            echo "name = \"wildebeest-consumer-${{ env.NAME_SUFFIX }}\""
            echo ""
            echo "[[queues.consumers]]"
            echo "max_batch_size = 10"
            echo "max_batch_timeout = 30"
            echo "max_retries = 10"
            echo "queue = \"wildebeest-${{ env.NAME_SUFFIX }}\""
            echo ""
            echo "[[d1_databases]]"
            echo "binding = \"DATABASE\""
            echo "database_name = \"wildebeest-${{ env.NAME_SUFFIX }}-v1\""
            echo "database_id = \"${{ env.d1_id }}\""
            echo ""
            echo "[durable_objects]"
            echo "bindings = ["
            echo "  { name = \"DO_CACHE\", class_name = \"WildebeestCache\", script_name = \"wildebeest-do\" },"
            echo "]"
            echo ""
            echo "[vars]"
            echo "DOMAIN = \"${{ vars.CF_DEPLOY_DOMAIN }}\""
            echo "ADMIN_EMAIL = \"${{ vars.ADMIN_EMAIL }}\""
          } >> packages/consumer/wrangler.toml

          pnpm install
          echo "******"
          npx wrangler deploy --config packages/consumer/wrangler.toml
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}

      - name: add Queue producer to Pages
        run: |
          curl "https://api.cloudflare.com/client/v4/accounts/${{ secrets.CF_ACCOUNT_ID }}/pages/projects/wildebeest-${{ env.NAME_SUFFIX }}" \
              -XPATCH \
              -H "Authorization: Bearer ${{ secrets.CF_API_TOKEN }}" \
              -d  '{
                  "deployment_configs": {
                    "production": {
                      "queue_producers": {
                        "QUEUE": {
                          "name": "wildebeest-${{ env.NAME_SUFFIX }}"
                        }
                      }
                    }
                  }
                }' > /dev/null

      - name: Publish
        env:
          COMMIT_HASH: ${{ github.sha }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}
        run: |
          echo "*** pre commands ***"
          pnpm build
          echo "******"
          npx wrangler pages deploy --project-name=wildebeest-${{ env.NAME_SUFFIX }} packages/frontend/dist
