name: Pull request checks
on:
  push:
    branches:
      - main
    paths-ignore:
      - ".github/workflows/**"
      - "!.github/workflows/PRs.yml"
      - "*.md"
      - "docs/**"
      - "renovate.json"
  pull_request:
    paths-ignore:
      - ".github/workflows/**"
      - "!.github/workflows/PRs.yml"
      - "*.md"
      - "docs/**"
      - "renovate.json"

# This allows a subsequently queued workflow run to interrupt previous runs
concurrency:
  group: "${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}"
  cancel-in-progress: true

env:
  SQLDEF_VERSION: v3.8.13

jobs:
  test-api:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    strategy:
      matrix:
        shard: [1, 2, 3]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version-file: .node-version
          cache: pnpm

      - name: Install
        run: pnpm install

      - name: Build
        run: npm run build

      - name: Run API tests
        run: npm run test -- --shard ${{ matrix.shard }}/${{ strategy.job-total }} --coverage

      - name: Upload coverage
        uses: codecov/codecov-action@b9fd7d16f6d7d1b5d2bec1a2887e65ceed900238 # v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage/coverage-final.json

  lint:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version-file: .node-version
          cache: pnpm

      - name: Install
        run: pnpm install && pnpm --dir frontend install

      - name: Check formatting
        run: npm run pretty

      - name: Check backend linting
        run: npm run lint:backend

      - name: Check consumer linting
        run: npm run lint:consumer

      - name: Check do linting
        run: npm run lint:do

      - name: Check frontend linting
        run: npm run lint:frontend

      - name: Check frontend types
        continue-on-error: true
        working-directory: frontend
        run: npm run types-check

      - name: Install sqlite3def
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release download --repo sqldef/sqldef --pattern "sqlite3def_linux_amd64.tar.gz" "${{ env.SQLDEF_VERSION }}" --output - | tar -xzf -
          mv sqlite3def /usr/local/bin/sqlite3def
          chmod +x /usr/local/bin/sqlite3def
          sqlite3def --version

      - name: Check DB schema
        run: |
          DB_ID=$(yq --output-format json wrangler.toml | jq --raw-output --exit-status '.d1_databases | first | .database_id')
          npm run database:migrate -- --local
          sqlite3def --enable-drop --config sqldef.yml --dry-run \
            ".wrangler/state/v3/d1/${DB_ID:?}/db.sqlite" < schema.sql | head -n 1 | grep -E '^-- Nothing is modified --$'

  test-ui:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version-file: .node-version
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Run App in the background
        run: npm run ci-dev-test-ui &

      - name: Store Playwright version
        run: |
          PLAYWRIGHT_VERSION=$(pnpm ls @playwright/test --json | jq --exit-status --raw-output 'first | .devDependencies["@playwright/test"].version')
          echo "Playwright version: ${PLAYWRIGHT_VERSION}"
          echo "PLAYWRIGHT_VERSION=${PLAYWRIGHT_VERSION}" >> $GITHUB_ENV

      - name: Cache Playwright
        id: cache-playwright-browsers
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5
        with:
          path: /home/runner/.cache/ms-playwright
          key: playwright-browsers-${{ runner.os }}-${{ runner.arch }}-${{ env.PLAYWRIGHT_VERSION }}

      - name: Download Playwright browsers
        run: npx playwright install --with-deps

      - name: Run Playwright tests
        run: npx playwright test

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
